.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-form {
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    background-color: #ec7c3f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .login-form h2 {
    text-align: center;
    color: black;
    margin-bottom: 40px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  