
.container {
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin: none;
  }
  .container .go-back{
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
  }
  .container .desc {
    margin: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }
 
 .test-card{
  padding: 20px;
    width: 60%;
    margin: auto;
  }
  /* Pricing Styles */
  .price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .discount {
    font-size: 16px;
    margin-bottom: 10px;
    color: green;
  }
  
  .test-type {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .test-button {
    margin-left: 10px;
    display: inline-block;
    padding: 13px 18px;
    background-color: darkred;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  